/* Customize container */
@media (min-width: 1024px) {
    .container {
        max-width: 900px;
    }
}

@media screen and (min-width: 990px) {
    .controls .mark-controls {
        display: inline;
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    header {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
        margin-bottom: 30px;
    }
}

@font-face {
    font-family: "Doulos";
    src: url("../fonts/DoulosSILR.ttf");
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
header {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e5e5e5;
}

/* line of top wich allow to see the current step playing */
.step-follow {
    /*width:20px;*/
    width: 5.5%;
    height: 25px;
    border: 1px solid black;
    border-radius:2px;
    padding: 2px;
    display: inline-block;
    text-align: center;
}

.active-follow{    
    background-color: #FF0033;
}

/* container for 4 steps */
.mes-container{   
    width: 110px;
    display: inline-block;
}

/* surround the step button */
.step-container{
    display: inline-block;
    /*width:20px;*/
    width: 5.5%;
    height: 20px;
    padding: 2px;
    margin: 0 auto;
}

/* PRECOUNT */
.precount{
    margin-top:2px;
}
/* Step Buttons */
/* precount step button */
.step-btn {
    width:20px;
    height: 20px;
    border: 1px solid black;
    border-radius:15%;
    padding: 2px;
}

.active-precount {
    background-color: #FF0000;
}

/* high accent step button */
.step-btn0 {
    width:100%;
    height: 20px;
    border: 1px solid black;
    border-radius:15%;
    padding: 2px;    
    cursor: pointer;
}
/* medium accent step button */
.step-btn1 {
    width:80%;
    margin: 0 auto;
    height: 20px;
    border: 1px solid black;
    border-radius:25%;
    padding: 2px;
    cursor: pointer;
}
/* no accent step button */
.step-btn2 {
    width:50%;
    margin: 0 auto;
    height: 20px;
    border: 1px solid black;
    border-radius:35%;
    padding: 2px;
    cursor: pointer;
}

/* kind of red */
.active-level0{    
    background-color: #FF0000;
}

/* kind of orange */
.active-level1{    
    background-color: #FF6600;
}

/* kind of blue */
.active-level2{    
    background-color: #0099CC;
}


table.text-table tr td{
    padding:5px;
    height: 55px;
}

table.text-table tr td input{    
    width: 100%;
    height:100%;
    font-size:35px;
}

table.text-table tr td input#phonetic{
    font-family: Doulos;
}

table.text-table tr td.td-button{
    width: 20px;
}

/* Stress text title */
.stress3{
    font-size: 20px;
}

.stress2{
    font-size: 15px;
}
.stress1{
    font-size: 10px;
}



.symbols-container{
    width: 100%;
    height: 55px;
    font-size: 35px;
    /*background-color: red;*/
}

.symbol{

}

/* search on wiktionnary button */
.wiki{
    background: url(imgs/wiki.png);
    background-size: 25px 25px;
    background-repeat:no-repeat;
    background-position: center;
    width: 40px;
    height: 34px;
}